.luces {
    background-image: url(https://lh4.googleusercontent.com/-RpQcK1iYEhU/TuuwgMVcdAI/AAAAAAAAB_w/m6ExlYcBqho/s129/luces7.gif);
    background-repeat:repeat-x;
    height:43px;
    width:100%;
    position:absolute;
    top:65px;
    left:0;
    }
